node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
events.db
.nix-db/
pnpm-lock.yaml
pnpm-workspace.yaml

# Temp DB migration scripts
add-*-column.js

# Temp migration scripts
add-*.js
rename-*.js

# Temp scripts
create-*.js
